/* @font-face {
    font-family: "hel";
    src: url(./assets/fonts/Helvetica.ttf);
}
@font-face {
    font-family: "hel-l";
    src: url(./assets/fonts/helvetica-light.ttf);
}
@font-face {
    font-family: "hel-b";
    src: url(./assets/fonts/Helvetica-bold.ttf);
}
@font-face {
    font-family: "hel-c";
    src: url(./assets/fonts/helvetica-compressed.otf);
} */